.reset-favorites-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.reset-favorites-btn {
	padding: 12px 16px;
	margin: 8px 0;
	background-color: #f3c6c6;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.2s ease, transform 0.1s ease;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.reset-favorites-btn:hover {
	background-color: #eea7a7;
	transform: scale(1.01);
}

.reset-favorites-btn:active {
	background-color: #eb5454;
}